/*
=============== 
Fonts
===============
*/
/* /*  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* @import url("./node_modules/@fortawesome/fontawesome-free/css/all.css"); */
/*

=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  /* --clr-primary-1: hsl(43, 86%, 17%); */
  --clr-primary-1: #9B0000;
  --clr-primary-2: #AF0000;
  --clr-primary-3: #CD0F10;
  --clr-primary-4: #E12324;
  --clr-primary-5: #E12324;
  /* lighter shades of primary color */
  --clr-primary-6: #F53738;
  --clr-primary-7: #FF4B4C;
  --clr-primary-8: #FF5F60;
  --clr-primary-9: #FF7374;
  --clr-primary-10: #FF8788;
  /* darkest grey - used for headings */
  --clr-grey-1: #FF9B9C;
  --clr-grey-3: #FFAFB0;
  --clr-grey-4: #FFC3C4;
  /* grey used for paragraphs */
  --clr-grey-5: #FFD7D8;
  --clr-grey-8: #FFEBEC;
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: #f1f5f8;
  --clr-green-dark: hsl(125, 67%, 35%);
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-white: #F1F7FB;
  --ff-primary: 'Poppins', sans-serif;
  --ff-secondary: 'Poppins', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.2rem;
  --radius: 10px;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 700px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  margin-top: 5rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  outline: none;
}


h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}


h1 {
  letter-spacing: var(--spacing);
  text-transform: uppercase;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
  font-size: 3.8rem;
  color: #222;
}


h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: 4F4F4F;

}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.p-content {
  margin: 1.5rem auto;
  color: #4F4F4F;
  ;
}

.p-content a {
  color: #E12324;
}

.p-content a:hover {
  text-decoration: underline;
}


/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-9);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}

.center-btn {
  display: block;
  width: 12rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
}

/* section */
.section {
  padding: 1rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}



/* added during recording */
.underline {
  width: 30%;
  height: 0.3rem;
  border-radius: 30px !important;
  margin-bottom: 1.5rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  margin-bottom: 4rem;
  text-align: center;
}

.bg-grey {
  background: var(--clr-grey-10);
}

/* page links */

/* social links */
.social-links {
  margin-top: 2rem;
  width: 15rem;
  display: flex;
  justify-content: space-between;
}

.social-link {
  font-size: 1.75rem;
  color: var(--clr-grey-1);
  transition: var(--transition);
}

.social-link:hover {
  color: var(--clr-primary-5);
}

/*
=============== 
Navbar
===============
*/

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  border-radius: 10px;
  margin: 10px 5%;
  align-items: center;
  position: absolute;
  top: 0%;
  right: 0;
  width: 90%;
  height: 5rem;
  display: flex;
  z-index: 200;
  justify-content: center;
  background: #F5F5F5;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

nav img {
  width: 40%;
}

.nav-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header img {
  margin-bottom: 0.375rem;
}

.toggle-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  cursor: pointer;
  transition: var(--transition);
}

.toggle-btn:hover {
  color: var(--clr-primary-2);
}

.nav-links {
  display: none;
  outline: none;
}

.link-items {
  display: flex;
  align-items: center;
  text-decoration: none;
  /* color: black; */
  padding: 0.3rem .6rem;
  border-bottom: 2px solid transparent;
  /* transition: b  order-bottom 0.2s ease-out; */
}

.link-items:hover {
  border-bottom: 2px solid;
  transition: border-bottom 0.2s ease-out;

}

@media screen and (min-width: 768px) {
  .toggle-btn {
    display: none;
  }

  .nav-links {
    display: flex;
    justify-content: flex-end;
  }

  .nav-links li {
    margin-right: 2rem;
  }

  .nav-links a {
    text-transform: capitalize;
    /* color: var(--clr-grey-1); */
    color: #333333;
    /* font-weight: 400; */
    /* letter-spacing: var(--spacing); */
    transition: var(--transition);
    /* padding: 0.5rem 0; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
  }

  .nav-links a:hover {
    color: var(--clr-primary-5);
    box-shadow: 0px 2px var(--clr-primary-5);
  }

  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }

}

@media screen and (min-width: 992px) {
  .navbar {
    background: #F1F7FBA6;
    ;
  }


}

/*
=============== 
Sidebar
===============
*/
.sidebar {
  background: var(--clr-grey-10);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: var(--transition);
  transform: translateX(-100%);
}

.show-sidebar {
  opacity: 1;
  transform: translateX(0);
}

.sidebar-links li {
  opacity: 0;
}

.sidebar-links li a {
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: var(--clr-grey-5);
  letter-spacing: var(--spacing);
  margin-bottom: 0.5rem;
  font-size: 2rem;
  transition: var(--transition);
  border-radius: var(--radius);
}

.sidebar-links li a:hover {
  background: var(--clr-primary-9);
  color: var(--clr-primary-5);
}

.close-btn {
  position: absolute;
  right: 4.75%;
  top: 2.75%;
  font-size: 2.5rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-dark);
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .sidebar {
    transform: translateX(-100%);
  }
}

/*
=============== 
Sidebar Animation
===============
*/
.sidebar-links li {
  animation: slideRight 0.5s ease-in-out 0.3s forwards;
}

.sidebar-links li:nth-of-type(1) {
  animation-delay: 0.25s;
}

.sidebar-links li:nth-of-type(2) {
  animation-delay: 0.5s;
}

.sidebar-links li:nth-of-type(3) {
  animation-delay: 0.75s;
}

.sidebar-links li:nth-of-type(4) {
  animation-delay: 1s;
}

.sidebar-links li:nth-of-type(5) {
  animation-delay: 1.25s;
}

@keyframes slideRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.sidebar-icons li {
  opacity: 0;
  animation: slideUp 0.5s ease-in-out 0.3s forwards;
}

.sidebar-icons li:nth-of-type(1) {
  animation-delay: 0.25s;
}

.sidebar-icons li:nth-of-type(2) {
  animation-delay: 0.5s;
}

.sidebar-icons li:nth-of-type(3) {
  animation-delay: 0.75s;
}

.sidebar-icons li:nth-of-type(4) {
  animation-delay: 1s;
}

.sidebar-icons li:nth-of-type(5) {
  animation-delay: 1.25s;
}

@keyframes slideUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*
=============== 
Hero
===============
*/
/* underline added to globals */
.hero {
  display: flex;
  height: 80%;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  margin: 0rem 3rem;
}



.hero-center {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  /* background-color: #9B0000; */
}

.hero .underline {
  margin-bottom: 0.5rem;
  margin-left: 0;

}

.hero-title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.hero-info {
  max-width: 50%;
  padding-right: 2rem;
}

.hero-img {
  max-width: 50%;
  width: 70% !important;
  height: auto;

}

@media screen and (min-width: 992px) {
  .hero-info {
    padding-right: 5rem;
  }

  .hero-img {
    /* display: none; */
    width: 100%;
    height: 100%;
    /* background: #9B0000; */
    object-fit: fill;
  }
}


@media screen and (min-width: 1170px) {
  .hero h4 {
    font-size: 1rem;
  }

  .hero-info {
    grid-column: 1 / span 8;
  }

  .hero h4 {
    line-height: 1;
  }
}

.project-container {
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project {
  width: 90%;
  height: 90%;
  margin: 3rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.project-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0, 0, 0, 5rem;
}

.project-header p {
  font-weight: bold;
  text-transform: uppercase;
  color: #444;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 0.5rem;
}

.divider {
  width: 60%;
  background-color: #E12324;
  height: .27rem;
  border-radius: 20px;
  margin: 1rem 0;
  margin-top: 0.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  margin: 4% auto;
}



.grid-project {
  background: #fff;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2));
  display: flex;
  color: #4F4F4F;
}

.project-content {
  width: 60%;
  padding: 16px;

}

.card-header p, .article-title {
  font-size: 130%;
  font-weight: 600;
}

.card-header {
  /* color: #c4c4c4; */
}

.card-cartegory {
  display: flex;
  align-items: center;
  color: #a5a0a0;
  /* background: red; */
}

.card-cartegory .dot {
  height: 5px;
  width: 5px;
  border-radius: 10px;
  background: #a5a0a0;
  margin: 0 10px;
}

.card-cartegory p {
  font-size: 13px;
  margin: 0;

  /* remove the default margin */
}

.card-body, .article-subtitle {
  margin: 20px auto;
  font-size: 15px;
}

.project-image {
  width: 50%;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  background-color: rgba(190, 183, 183, 0.2);
  font-size: 13px;
  font-weight: 500;
  color: #333333;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid rgba(225, 35, 36, .2);
  text-transform: capitalize;
  box-shadow: none;
}

.btn:hover {

  border: 1px solid #E12324 !important;
  box-shadow: none !important;
}

.icon {
  margin-left: 15px;
}

.card:hover {
  /* background: #f1f1f1; */
  filter: none;
  cursor: pointer;
}


.card:hover .btn {
  background-color: #ffffff;
  color: #E12324;
  cursor: pointer;
  border: .2px solid rgba(196, 196, 196, .5) !important;
  box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 7px 7px 3px 0px rgba(0, 0, 0, 0.4);
}


.card:hover .project-image {
  box-shadow: 7px 7px 3px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.project-image:hover {
  box-shadow: none !important;
  transition: all .4s ease-in;

}

.btn-project {
  background-color: #ffffff;
  color: #E12324;
  cursor: pointer;
  border: 1px solid #AF0000;
  margin-top: 20%;
  display: inline-block;

}

.btn-project:hover {
  background-color: #ffffff;

  cursor: pointer;
  border: .2px solid rgba(196, 196, 196, .5) !important;
  box-shadow: 7px 7px 3px 0px rgba(0, 0, 0, 0.4) !important;
}

.articles-container a {
  color: #333333;
}

.article-section {}

.articles {
  /* padding: 5% auto; */
  display: flex;
  flex-wrap: wrap;
}

.article-card {
  background: #fff;
  width: 31.7%;
  padding: 2rem;
  box-sizing: border-box;
  margin: .6rem;
  min-width: 20px;
}

.addition {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}



.article-title {
  font-size: 100%;
  color: #222;
}

.article-subtitle {
  font-size: 90%;
  color: #333333;
}

.article-card:hover {
  background-color: #f1f5f8;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2));
  cursor: pointer;
}

.article-card:hover .article-icon {
  color: #CD0F10;

}

.job-card {
  background: #fff;
  padding: 3rem 20px !important;
}

.job-card .carousel {
  /* width: 100%; */
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: none;
}

.job-card .carousel::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.job-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes slide-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-200%);
  }
}

.job-card .card {
  background: rgba(241, 247, 251, .35);
  margin: 10px;
  padding: 10px;
  display: inline-block;
  width: 20%;
  height: 155px;
  border-radius: 4px;
  position: relative;
  /* filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2)); */
  animation: slide-left 7.5s linear infinite;
  z-index: 1;
}

.job p {
  /* display: none; */
  margin: 8px;

}

.job:hover p {
  color: #CD0F10;
  display: block;
}

.job-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;

}

.job-card .card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease;
  /* opacity: .1; */
}

.job-card .card:hover:before {
  /* background: #F1F7FB; */
  opacity: .6;
}


.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal-content {
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-0%, -50%);
  /* Not to silikhe: On small divices don't forget to center */
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px #00000033;
  border-radius: 5px;
  z-index: 1000;

}

.modal-heading {
  text-align: center;
  font-size: 12px;
  padding-bottom: 0;
}


.modal-title, .modal-push {
  margin-bottom: .1%;

}

.modal-icons {
  /* display: flex; */
  padding: 0 10px;
  text-align: center;
}

.modal-icons .social-icon {
  margin: 10px;
}

.labels {
  /* margin: 2px; */
}

.label {
  background: #F24F5012;
  padding: 4px 8px;
  margin: 4px;
  border-radius: 4px;
  font-size: 11px;
  /* box-sizing: border-box; */
}

.modal-wrapper {
  /* background-color: #9B0000; */
  /* padding-right: 20px; */
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0% !important;

}

.modal-main-content p {
  padding: auto 10px;
}


.modal-job-header {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0%;
}

.icon-cartegory {
  justify-content: center;
  text-align: center;
  margin-top: 0px !important;
}

.company {
  margin: 0px 0 20px !important;
}


.company h5 {
  margin: 0;
  padding-bottom: 10px !important;
}

.modal-header a {
  text-decoration: underline;
}



.modal-link {
  color: #E12324;
}

.contact-icon {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  color: #444;
}

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-btn {
  margin-top: 15px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.footer p {
  margin: 0;
}

.footer a {
  color: #fff;
  text-decoration: none;
}


.progress-container {
  width: 100%;
  height: 8px;
  background: #f2f2f2;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin: 20px 0;
}

.progress-bar {
  width: 60%;
  height: 100%;
  background: #4caf50;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  animation: progress 2s ease-in-out;
}

@keyframes progress {
  0% {
    width: 0;
  }
}

/* Case study */
.case-header {
  margin: 1rem 5rem;
}

/* Case bunner */

.case-bunner {
  border-radius: 5px;
  position: relative;
  /* width: 86%; */
  height: 40vh;
  margin: 0 auto;
  border-radius: 20px;
}

.case-bunner p {
  text-align: center;
  color: #ffffff !important;
}

.burne-overlay {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.case-bunner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.case-basic-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.case-basic-info p {
  /* width: 30%; */
}